// Colors
$background-color--light: #ffe5ac;
$background-color--dark: #fdad44;
$text-color--default: #444;
$nav-bar--hover: rgba(0, 0, 255, 0.3);

$rose-taupe: #785964ff;
$cambridge-blue: #82a7a6ff;
$black: #000000ff;
$sky-blue: #9ed0e6ff;
$rose-quartz: #b796acff;

/* Colours */
.color-bg-light {
  background-color: $background-color--light;
}

.color-bg-dark {
  background-color: $background-color--dark;
}
