// Colors
$background-color--light: #ffe5ac;
$background-color--dark: #fdad44;

/* Colours */
.color-bg-light {
  background-color: $background-color--light;
}

.color-bg-dark {
  background-color: $background-color--dark;
}
