@use "colors";
@use "default-styles";
@use "fonts";
@use "classes";

/* CSS reset - Prevents user agent style sheet shenanigans */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  cursor: default;
}

ul {
  padding: 0.5rem 2rem;
}

hr {
  border-color: black;
  margin: 10px 20px;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
