.navigator__link {
    height: inherit;
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 16px;
}

.navigator__link:hover {
    background-color: #61A0AF;
}

.navigator__link:visited {
    color: black; 
}