:root {
  /* Website Colours */
  --color-background-light: #ffe5ac;
  --color-background-dark: #fdad44;

  /* Website font sizes */
  --font-size-default: 20px;
}

/* CSS reset - Prevents user agent style sheet shenanigans */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

footer {
  width: 100%;
}

ul {
  padding-left: 2rem;
  list-style: circle;
}

p {
  padding: 0.2rem 0.8rem;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0.8rem 0.3rem 0.8rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

hr {
  border: 1px solid #000000;
  width: 50%;
}

svg {
  background-color: aliceblue;
}

/* Classes */

.title {
  display: grid;
  place-items: center;
}

.background {
  width: 100%;
}

.background-color--gradient {
  background: linear-gradient(
    var(--color-background-light),
    var(--color-background-dark)
  );
}

.display {
  width: 100%;
}
/* Colours */

.color-bg-light {
  background-color: var(--color-background-light);
}

.color-bg-dark {
  background-color: var(--color-background-dark);
}

/* Google Fonts */
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
